body {
	background-image: url("../images/darkness.png");
	color:yellow;
	font-size: 35px;
	font-weight: 35px;
}

#mainContainer{
/*border-image: url("../images/gaming-pattern.png");*/
border-color: green;
border-style: solid;
border-width: 15px;
margin: auto;
max-width: 800px;
height: auto;
margin-top: 100px;
padding: 30px;
/*align-content: space-around;*/
}

h1{
	text-align: center;
	font-size: 50px;
	color: lime;
	text-shadow: 3px 2px green;
	margin-bottom: 50px;
	/*background-color: black;*/
}

#startButtonDiv{
	text-align: center;
}

button{
	width: 200px;
	height: 80px;
	font-size: 30px;
	font-weight: bold;
	color: lime;
	background-color: black;
	border-color: lime;
	text-align: center;
}

#qContainer{
	text-align: center;
	margin:20px 0px;
}

.q	{
	margin: 50px 0px;
	padding: 20px 0px;
	border-color: green;
	border-style: solid;
	border-width: 15px;
}

#doneButton{
	margin-top: 35px;
}